@import "_variables.less";

/* Spacing */

.generate-space-pc(@n, @name, @prefixe, @suffix, @val, @i: 1) when (@i =< @n) {
  .@{prefixe}-@{val}@{suffix} {
    @{name}: (@i * 100% / @n);
  }
  .generate-space-pc(@n, @name, @prefixe, @suffix, (@val + 10), (@i + 1));
}

.generate-space-px(@n, @name, @prefixe, @suffix, @val, @i: 1) when (@i =< @n) {
  .@{prefixe}-@{val}@{suffix} {
    @{name}: (@val * 1px);
  }
  .generate-space-px(@n, @name, @prefixe, @suffix, (@val + 5), (@i + 1));
}

.generate-space-pc(10, width, width, pc, 10);
.generate-space-pc(10, height, height, pc, 10);

.generate-space-px(30, width, width, px, 10);
.generate-space-px(30, height, height, px, 10);

.generate-space-pc(10, margin, margin, pc, 10);
.generate-space-pc(10, margin-left, margin-left, pc, 10);
.generate-space-pc(10, margin-top, margin-top, pc, 10);
.generate-space-pc(10, margin-bottom, margin-bottom, pc, 10);
.generate-space-pc(10, margin-right, margin-right, pc, 10);

.generate-space-pc(10, padding, padding, pc, 10);
.generate-space-pc(10, padding-left, padding-left, pc, 10);
.generate-space-pc(10, padding-top, padding-top, pc, 10);
.generate-space-pc(10, padding-bottom, padding-bottom, pc, 10);
.generate-space-pc(10, padding-right, padding-right, pc, 10);

.generate-space-px(30, margin, margin, px, 5);
.generate-space-px(30, margin-left, margin-left, px, 5);
.generate-space-px(30, margin-top, margin-top, px, 5);
.generate-space-px(30, margin-bottom, margin-bottom, px, 5);
.generate-space-px(30, margin-right, margin-right, px, 5);

.generate-space-px(30, padding, padding, px, 5);
.generate-space-px(30, padding-left, padding-left, px, 5);
.generate-space-px(30, padding-top, padding-top, px, 5);
.generate-space-px(30, padding-bottom, padding-bottom, px, 5);
.generate-space-px(30, padding-right, padding-right, px, 5);

.margin-right-5px{
	margin-right: 5px;
}

.margin-right-5px{
	margin-right: 5px;
}

.margin-top-1px{
	margin-top: 1px;
}

.margin-top-2px{
	margin-top: 2px;
}

.padding-bottom-4px{
	padding-bottom: 4px;
}

.padding-top-4px{
	padding-top: 4px;
}

.padding-4px{
	padding: 4px;
}

.margin-top-3px{
	margin-top: 3px;
}

.margin-left-2px{
	margin-left: 2px;
}

.margin-left-12px{
	margin-left: 12px;
}

.padding-botton-1px{
	padding-bottom: 1px;
}

.padding-top-1px{
	padding-top: 1px;
}

.padding-top-2px{
	padding-top: 2px;
}

.padding-top-3px{
	padding-top: 3px;
}

.margin-top-4px{
	margin-top: 4px;
}

.margin-top-7px{
	margin-top: 7px;
}

.margin-bottom-2px{
	margin-bottom: 2px;
}

.padding-top-8px{
	padding-top: 8px;
} 

.padding-left-8px{
	padding-left: 8px;
}

.padding-bottom-9px{
	padding-bottom: 9px;
}

.padding-bottom-2px{
	padding-bottom: 2px;
}

.padding-left-15px{
	padding-left: 15px;
}

.padding-right-15px{
	padding-right: 15px;
}

.padding-bottom-7px{
	padding-bottom: 7px;
}

.padding-bottom-8px{
	padding-bottom: 8px;
}

.padding-bottom-3px{
	padding-bottom: 3px;
}

.padding-top-150px{
	padding-top: 150px;
}

.padding-bottom-350px{
	padding-bottom: 350px;
}

.margin-left-5pc{
	margin-left: 5%;
}

.margin-neg-top-10px{
	margin-top: -10px;
}

.no-padding{
	padding : 0px;
}

.no-margin{
	margin : 0px;
}

.no-margin-bottom{
	margin-bottom : 0px;
}

.no-margin-top{
	margin-top : 0px;
}

.no-margin-left{
	margin-left : 0px;
}

.no-margin-right{
	margin-right : 0px;
}

.height-25px{
	height: 25px;
}

.full-width{
	width: 100%;
}

.full-height{
	height: 100%;
}

.height-28px{
	height: 28px;
} 

.width-36px{
	width: 36px;
}

.width-110px{
	width: 110px;
}

.width-158px{
	width: 158px;
}

.width-200px{
	width: 200px;
}

.max-width-200px{
	max-width: 200px;
}

.max-width-250px{
	max-width: 250px;
}

.width-250px{
	width: 250px;
}

.width-300px{
	width: 300px;
}

.width-180px{
	width: 180px;
}

.width-210px{
	width: 210px;
}

.height-200px{
	height: 200px;
}

.line-height-20px{
	line-height: 20px;
}

.line-height-50px{
	line-height: 50px;
}

.line-height-60px{
	line-height: 60px;
}

.letter-spacing-1px{
	letter-spacing: 1px;
}

.letter-spacing-2px{
	letter-spacing: 2px;
}

/* Fonts */

.font-gen(@n, @name, @prefixe, @suffix, @i: 1) when (@i =< @n) {
  .@{prefixe}-@{i}@{suffix} {
    @{name}: (@i * 1px);
  }
  .font-gen(@n, @name, @prefixe, @suffix, (@i + 1));
}

.font-gen(50, font-size, font, px, 8);

/* Generic */

#container{
	max-width : @max-width;
	margin-left: auto;
	margin-right: auto;
}

.container{
	max-width : @max-width;
	margin-left: auto;
	margin-right: auto;
}

#outer-container{
	margin-left: auto;
    margin-right: auto;
    max-width: 1680px;
    overflow-x: hidden;
}

.bold {
	font-weight: bold;
}

.underlined {
	text-decoration: underline;
}

.text-centered {
	text-align: center;
}

.text-right {
	text-align: right;
}

.bloc-centered{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.inner-svg-centered > svg {
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

.v-align-middle{
	vertical-align: middle;
}

.v-align-top{
	vertical-align: top;
	& > span{
		vertical-align: top;
	}
}

.v-align-baseline{
	vertical-align: baseline;
}

.v-align-sub{
	vertical-align: sub;
}

.v-align-bottom{
	vertical-align: bottom;
}

.block{
	display : block;
}

.inline-block{
	display: inline-block;
}

.fixed-top{
	position: fixed;
	top: 0px;
}

.float-right{
	float: right;
}

.float-left{
	float: left;
}

.hide{
	display: none;
}

.button-transition{
	transition: background-color .3s linear;
}

.transition-3{
	transition: background-color .3s linear;	
}

.icon{
	display: inline-block;
}

.icon-large{
	width: 160px;
	height: 80px;	
}

.icon-more{
	width: 60px;
	height: 60px;	
}

.icon-medium{
	width: 120px;
	height: 50px;	
}

.icon-normal{
	width: 30px;
	height: 30px;	
}

.icon-avg{
	width: 25px;
	height: 25px;	
}

.icon-mini{
	width: 20px;
	height: 20px;	
}

.icon-tiny{
	width: 15px;
	height: 15px;	
}

.icon-micro{
	width: 10px;
	height: 10px;	
}

.pointer:hover{
	cursor: pointer;
}

.move:hover{
	cursor: move;
}

.rotate-180{
    -ms-transform: rotate(180deg); 
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.relative{
	position: relative;
}

/* Fonts */

@font-face {
	font-family: 'regular';
	src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'semi-bold';
	src: url('../fonts/Open_Sans/OpenSans-Semibold.ttf');
}

@font-face {
	font-family: 'bold';
	src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
}

@font-face {
	font-family: 'extra-bold';
	src: url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf');
}

@font-face {
	font-family: 'light';
	src: url('../fonts/Open_Sans/OpenSans-Light.ttf');
}

.thin-text{
	font-family: 'light';
}

.semi-bold{
	font-family: 'semi-bold';
}

.bold-font{
	font-family: 'bold';	
}

.extra-bold{
	font-family: 'extra-bold';	
}

html, body{
	font-family: 'regular', Times, serif;
	height: 100%;
}

body{
	margin:0;
	padding:0;
}
/* Transition */

.transition-all-ease-3{
	transition: all .3s ease;
}

.transition-all-ease-5{
	transition: all .5s ease;
}

/* Opacity */

.opacity-100{
	opacity: 1;
}

.center-hover-show:hover .hover-opacity-100{
	opacity: 1 !important;
}

.hover-opacity-100:hover{
	opacity: 1 !important;
}

.opacity-90{
	opacity: .9;
}

.opacity-80{
	opacity: .8;
}

.opacity-70{
	opacity: .7;
}

.opacity-60{
	opacity: .6;
}

.opacity-50{
	opacity: .5;
}

.opacity-40{
	opacity: .4;
}

.opacity-30{
	opacity: .3;
}

.opacity-20{
	opacity: .2;
}

.opacity-10{
	opacity: .1;
}

.opacity-0{
	opacity: 0;
}


/* Frame sizing */

html, body, #content{
	width: 100%;
	margin: 0px;
	padding: 0px; 
	color : @color1;
}

input[type='checkbox']{
	height: 33px;
}

.overflow-hidden{
	overflow: hidden;
}

/* Colors */

html, body, #content{
	background-color: @bcg-grey;
}

#content{
	min-height:100%;
	position:relative;
}

.rounded-radius{
	border-radius: 200px;
}

.radius-5px{
	border-radius : 5px;
}

.radius-right-5px{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.radius-left-5px{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.white-color{
	color: white;
}

.color1{
	color: @color1;
}

.color2{
	color: @color2;
}

.color3{
	color: @color3;
}

.color4{
	color: @color4;
}

.color5{
	color: @color5;
}

.hover-color1:hover{
	color: @color1;
}

.hover-color2:hover{
	color: @color2;
}

.hover-color3:hover{
	color: @color3;
}

.hover-color4:hover{
	color: @color4;
}

.hover-color5:hover{
	color: @color5;
}

.hover-white:hover{
	color: white;
}

.thin-border-color5{
	border: 2px solid @color5;
}

.thin-border-color1{
	border: 1px solid @color1;
}

.thin-border-top-color1{
	border-top: 1px solid @color1;
}

.thin-border-color3{
	border: 1px solid @color3;
}

.thin-border{
	border: 1px solid @border;
}

.thin-border-top{
	border-top: 1px solid @border;
}

.thin-border-bottom{
	border-bottom: 1px solid @border;
}

.thin-border-left{
	border-left: 1px solid @border;
}

.thin-border-right{
	border-right: 1px solid @border;
}

.thin-border-white{
	border: 1px solid white;
}

.thin-border-top-white{
	border-top: 1px solid white;
}

.thin-border-bottom-white{
	border-bottom: 1px solid white;
}

.thin-border-left-white{
	border-left: 1px solid white;
}

.thin-border-right-white{
	border-right: 1px solid white;
}

.border-white-2px{
	border: 2px solid white;
}

.border-color1-2px{
	border: 2px solid @color1;
}

.background-diver{
	background-image: url("../pictures/misc/diver-rs-l2.jpg");
	background-size: 100% 100%;
}

.background-above{
	background-image: url("../pictures/misc/above.jpg");
	background-size: 100% 100%;
}

.background-white{
	background-color: white;
}

.background-color1{
	background-color: @color1;
}

.background-color2{
	background-color: @color2;
}

.background-color3{
	background-color: @color3;
}

.background-color4{
	background-color: @color4;
}

.background-color5{
	background-color: @color5;
}

.background-greycolor{
	background-color: @bcg-grey;
}

.background-contact{
	background-color: #1A242D;
}

.border-right-color1{
	border-right: solid 1px @color1;
}

.border-right-color2{
	border-right: solid 1px @color2;
}

.red-border-bottom{
	border-bottom: 1px solid @color5;
}

.fill-white{
	fill: white;
}

.fill-color1{
	fill: @color1;
}

.fill-color2{
	fill: @color2;
}

.fill-color3{
	fill: @color3;
}

.fill-color4{
	fill: @color4;
}

.fill-color5{
	fill: @color5;
}

.hover-fill-white:hover{
	fill: white;
}

.hover-fill-color1:hover{
	fill: @color1;
}

.hover-fill-color2:hover{
	fill: @color2;
}

.hover-fill-color3:hover{
	fill: @color3;
}

.hover-fill-color4:hover{
	fill: @color4;
}

.hover-fill-color5:hover{
	fill: @color5;
}

.hover-color-white:hover{
	background-color: white;
}

.hover-color-color1:hover{
	background-color: @color1;
}

.hover-color-color2:hover{
	background-color: @color2;
}

.hover-color-color3:hover{
	background-color: @color3;
}

.hover-color-color4:hover{
	background-color: @color4;
}

.hover-color-color5:hover{
	background-color: @color5;
}

/* Headers */
 
h1{

}

h2{
	color: rgb(70, 70, 70);
	font-family: 'semi-bold';
	font-size: 25px;
	letter-spacing: 3px;
}

h3{
	font-family: 'light';
	font-size: 18px;
	letter-spacing: 2px;
	margin-bottom: 10px;
}

h4{
	font-family: 'light';
	letter-spacing: 1px;
}
/* Forms */

textarea:focus, input:focus{
    outline: 0;
}

input{
	font-family: 'light';
	height: 28px;
	font-size: 16px;
	border : none;
	padding: 0px;
	background:transparent;
}

textarea{
	font-family: 'light';
	font-size: 16px;
	border : none;
	padding: 0px;
	background:transparent;
}

a{
	text-decoration: none;
	color: @color2;
}

.error-hidden{
	visibility: hidden;
}

.error-visible{
	visibility: visible;
}

.display-error{
	display : block
}

.focus-input-style:focus{
	box-shadow: -1px 0px 0px @color2;
}

.grey-scale{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.hover-no-grey-scale:hover{
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%) !important;
}

/* Progressbar */

.progress-bar-wrapper{
	width: 100%;
	height: 15px;
	border: 1px solid @border;
	border-radius: 3px;
	overflow: hidden;
}

.progress-bar-inner{
	height: 15px;
	transition: all .3s ease;
}

.main-container{
	padding-bottom:270px;
}

.common-bottom-bar{
	width:100%;
	height:237px;
	position:absolute;
	bottom:0;
	left:0;
}
