/*
kuler: https://color.adobe.com/fr/hiire-orange-color-theme-4047683/edit/?copy=true
*/
@color1 : #293540;
@color2 : #79BDE0;
@color3 : #E1EBF5;
@color4 : #FFFFFF;
@color5 : #FF530D;
@border : #e5e5e5;
@bcg-grey : rgb(245, 245, 245);
@max-width : 1024px;