@import "_global.less";
@import "../../bower_components/font-awesome/less/font-awesome.less";

input.with-shadow-underline:focus, textarea.with-shadow-underline:focus{
	box-shadow: 0px 1px 0px 0px rgba(229,229,229,1);
	-webkit-box-shadow: 0px 1px 0px 0px rgba(229,229,229,1);
	-moz-box-shadow: 0px 1px 0px 0px rgba(229,229,229,1);
}

.navUnSelected{
	border-bottom: solid 3px white;
	line-height: 52px;
    margin-top: 5px;

    &:hover{
    	border-bottom: solid 3px @color3;
    }
}

.navUnSelectable{
	border-bottom: solid 3px white;
	line-height: 52px;
    margin-top: 5px;
}

.avatarUnSelected{
	border-bottom: solid 3px white;
    margin-top: 5px;

    &:hover{
    	border-bottom: solid 3px @color3;
    }
}

.navSelected{
	border-bottom: solid 3px @color1;
	line-height: 52px;
    margin-top: 5px;
}

.avatarSelected{
	border-bottom: solid 3px @color1;
    margin-top: 5px;
}

.iconSelected{
	background-color: @color1;
}

.validate-label{
	line-height: 38px;
    height: 25px;
    vertical-align: top;
}

.validate-label-mini{
	line-height: 25px;
    height: 25px;
    vertical-align: top;
    letter-spacing: 1px;
}

.select-option{
	font-size: 12px;
	cursor: pointer;
	margin-left: 20px;
	transition: all 0.3s ease;
}

.valid-select-option{
	color: #79BDE0;
}

.invalid-select-option{
	opacity: .3;

	&:hover{
		opacity: 1;
	}
}

.tiny-list{
	font-size: 12px;
	cursor: pointer;
	transition: all 0.3s ease;
	margin-bottom: 2px;
	margin-top: 2px;
}

.tiny-list-selected{
	color: #79BDE0;
}

.tiny-list-arrow{
	transition: all 0.3s ease;
}

.image-picker{
	height: 80px;
	width: 80px;
	border-radius: 5px;
	border : dashed 1px @color1;
	transition: all 0.3s ease;
	cursor: crosshair;
	
	&:hover{
		color : white;
		fill : white;
		background-color: @color1;
	}

	& img{
		margin-top: 5px;
		margin-left: 5px;
		width: 70px;
		height: 70px;
	}
}

.file-picker{
	height: 80px;
	width: 120px;
	border-radius: 5px;
	border : dashed 1px @color1;
	transition: all 0.3s ease;
	cursor: crosshair;
	
	&:hover{
		color : white;
		fill : white;
		background-color: @color1;
	}

	& img{
		margin-top: 5px;
		margin-left: 5px;
		width: 70px;
		height: 70px;
	}
}

.toggle{
	letter-spacing: 1px;
}

.tiny-tag{
	padding : 0px 7px 2px 7px;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	color : white;
	border-radius: 2px;
	letter-spacing: 1px;
}

.tiny-tag-cross{
	font-size: 11px;
	margin-left : 5px; 
	color : @color3;
	vertical-align: top;
	padding-top: 4px;
	border-radius: 50px;
}

.counter-padding{
	padding: 10px 14px 10px 14px;
}

.update-avatar-overlay{
	position: absolute;
	background-color: white;
	top: 0;
	left: 0;
	opacity: 0;

	&:hover{
		opacity : .8;
		cursor: pointer;
	}
}

.map-target{
	position: relative;
    left: -60px;
    top: -80px;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid @color1;
	position: relative;
    top: -18px;
    right: -125px;
}